{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1534723328310-e82dad3ee43f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=376&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Software Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Muhammad Keyton.I'm a software developer based in Nairobi,Kenya.I have a passion for software development and love to create for web and mobile devices.</p>
        <p>When i was a kid i always had this dream of becoming a software engineer but i got serious about it a year ago and since then i have been writing lots and lots of code.inshort,i got ADDICTED TO PROGRAMMING.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}